# Python
*.pyc
__pycache__/

# Virtual environment
venv/
myenv/

# Django stuff
db.sqlite3
*.log

# Environment variables
.env

# Static files
# staticfiles/
# static/
# media/

# IDE files (optional, depending on your setup)
.vscode/
.idea/
*.swp

# macOS specific (optional)
.DS_Store
